#commentForm {
  display: grid;
  place-items: center;
}
form > #commentText {
  width: 70%;
}
form > #commentText > textarea {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
}
#commentForm > h3 {
  cursor: pointer;
}
#commentSubmit {
  height: 30px;
  margin: 20px;
}
