li.updateComment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 27px;
  font-size: 15px;
}
button.deleteComment {
  height: 70%;
  width: 15%;
  margin-right: 2%;
  font-size: 15px;
  background-color: maroon;
  margin-bottom: 1%;
}
button.deleteComment:hover {
  background-color: maroon;
}
button.updateComment {
  height: 70%;
  width: 15%;
  margin-left: 2%;
  font-size: 15px;
  margin-bottom: 1%;
}
button.updateComment:hover {
  background-color: dodgerblue;
}
input.updateComment {
  height: 100%;
  width: 60%;
  font-size: 15px;
}
button:disabled {
  background-color: grey;
  cursor: auto;
  color: white;
}
button:disabled:hover {
  background-color: grey;
  cursor: auto;
}
img#commentImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
