.checkinFeedContainer {
  width: 550px;
  height: 70vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkinFeedContainer > ul {
  width: 100%;
  height: 600px;
  list-style-type: none;
  margin: 0px;
  padding-inline-start: 0px;
  overflow-y: scroll;
}
.checkinImage {
  width: 100%;
}
.profileImage {
  height: 50px;
  border-radius: 50%;
}
.checkinFeedContainer > ul > li:hover {
  background-color: white;
}
.checkinFeedContainer > ul > li {
  background-color: white;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.top {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  border-bottom: 1px solid grey;
}
#h3s > h3 {
  margin: 0;
  margin-left: 5px;
  text-align: start;
}
#h3s > h3 > span {
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
}
.starRating {
  margin-right: 10px;
  color: gold;
}
.checkinHeader {
  height: 50px;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
input[type="radio"] {
  visibility: hidden;
}
.checkinMain {
  height: 50px;
}
.deleteButton,
.update {
  background-color: transparent;
  color: black;
  font-size: 15px;
  height: fit-content;
  width: fit-content;
  margin: 0;
}
.update {
  color: white;
  background-color: dodgerblue;
}
.deleteButton {
  margin-top: 10px;
  color: red;
}
.deleteButton:hover,
.update:hover {
  background-color: transparent;
  color: black;
}
.update:hover {
  color: white;
  background-color: dodgerblue;
}
.update:disabled:hover {
  color: white;
}
#descriptionfield {
  width: fit-content;
  max-width: 70%;
  text-align: center;
}
#descriptionDiv {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

#commentHeader {
  text-align: start;
  margin-bottom: 10px;
}
input:checked ~ span {
  font-weight: bold;
}
ul#commentContainer {
  list-style-type: none;
  padding-inline-start: 0px;
  display: grid;
  height: 110px;
  row-gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul#commentContainer > li {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
ul#commentContainer > li > span {
  margin-left: 5px;
  overflow-wrap: break-word;
}
div#deleteContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
