div#map {
  width: 90%;
  height: 80%;
}
div#mapWrapper {
  width: 90%;
  height: 80%;
}
div#locations {
  height: calc(100% - 90px);
  display: grid;
  place-items: center;
}
div.gmnoprint {
  display: none;
}
