/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
h1,
h2,
div {
  line-height: 1.2;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  overflow: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: snow;
}
span.dis {
  color: red;
}
form.login,
form.signup,
form.comment {
  display: grid;
  place-items: center;
  width: 80%;
  height: fit-content;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  div#root {
    width: 100vw;
    height: 100vh;
    background-color: snow;
  }
  main {
    grid-template-columns: 100%;
    width: 100%;
    grid-column-gap: 0;
    margin: 0;
  }
  div.checkinFeedContainer,
  div.checkin-feed {
    width: 100%;
    margin: 0;
  }
  div.checkinFeedContainer * {
    max-width: 100%;
    font-size: 12px;
  }
  div.checkin-feed > h2 {
    display: none;
  }
  aside {
    display: none;
  }
  nav {
    width: 100vw;
  }
  nav > div {
    width: 175px;
  }
  nav a {
    padding: 0;
    margin: 0;
  }

  ul.profile-dropdown {
    width: 160px;
  }
  ul.profile-dropdown a {
    width: 100%;
  }
  div.drinks-list {
    right: 5%;
    width: 90%;
    height: 70%;
  }
  div#locations {
    width: auto;
  }
  div#profileMain {
    overflow-x: hidden;
  }
  div#info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0;
    grid-column-gap: 0;
    height: 250px;
    place-items: center;
    bottom: -10px;
    left: 45px;
  }
  div#info img {
    grid-area: 1 / 1 / 2 / 3;
  }
  div#info h2 {
    grid-area: 2 / 1 / 3 / 3;
  }
  #profileMain > * > ul > li {
    width: 100vw;
    margin: 0;
    font-size: 12px;
  }
  #profileMain > * > ul > li * {
    font-size: 12px;
  }
}
::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  width: 5px;
}
