body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: snow;
}
span.dis {
  color: red;
}
form.login,
form.signup,
form.comment {
  display: grid;
  place-items: center;
  width: 80%;
  height: fit-content;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
