nav {
  width: calc(100% - 20px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #955f31;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
nav > * {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.userAuth {
  width: 200px;
}

a {
  color: white;
  text-decoration: none;
}
a#home {
  width: 200px;
}

button.login,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: fit-content;
  height: fit-content;
}
img {
  width: 100%;
}
