button.profile {
  width: fit-content;
  height: fit-content;
  background: none;
  margin-top: 20px;
}
button.profile > * {
  height: 40px;
  width: 40px;
  font-size: 40px;
  color: rgb(38, 38, 38);
}
div#profile-container {
  position: absolute;
  top: 0px;
  display: flex;
  min-height: 42px;
  min-width: 42px;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style-type: none;
  background: white;
  width: fit-content;
  border-radius: 6px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

li:first-child {
  border-radius: 6px 6px 0px 0px;
}
li:last-child {
  border-radius: 0px 0px 6px 6px;
  border-top: 1px solid black;
}
a {
  height: 35px;
  width: calc(100% - 60px);
  padding-left: 10px;
  padding-right: 50px;
  color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-weight: bolder;
}
div#position {
  width: 300px;
}
button#logout {
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-align: start;
  background: inherit;
  color: inherit;
  font-weight: bolder;
  font-family: inherit;
  margin: 0;
  padding-top: 10px;
}
li {
  width: 100%;
  background-color: white;
}
li:hover {
  background-color: rgb(233, 233, 233);
}
li > a > i {
  margin-right: 5px;
}
